::selection {
	background-color: map-get($colors, 1);
	color: #FFF;
}

html,
body {
	min-width: 320px;
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $font-primary;
	color: map-get($colors, 5);
	font-size: 1.6rem;
	line-height: 1.75;
	font-weight: 300;
}

.site-container {
	margin: 0 0 -15rem;
	min-height: 100%;

	&::after {
		display: block;
		height: 15rem;
		content: '';
	}
}

article.short {
	text-align: center;
	margin: 25% 0 8%;
}

.logo {
	display: inline-block;
	width: 10rem;

	img,
	svg {
		display: block;
	}
}

a {
	text-decoration: none;
	font-style: normal;
	position: relative;
	outline: none;
	color: #333;
}

@media screen and (min-width: map-get($breakpoints, grid)) {
	body {
		line-height: 1.625;
		font-size: 1.8rem;
	}
}

.content,
.cta {
	a,
	button,
	.button,
	input:focus,
	input[type='button'],
	input[type='reset'],
	input[type='submit'],
	textarea:focus {
		transition: border-color .15s ease-in-out, padding .15s ease-in-out;
	}

	a {
		border-bottom: 1px solid map-get($colors, 1);
		text-decoration: none;
		font-style: italic;
		outline: none;
		color: #333;

		&:hover {
			color: map-get($colors, 1);
		}
	}

	button,
	.button,
	input[type='button'],
	input[type='reset'],
	input[type='submit'] {
		appearance: none;
		// -webkit-font-smoothing: antialiased;
		// -moz-osx-font-smoothing: grayscale;
		background-color: map-get($colors, 1);
		border: 1px solid transparent;
		font-family: $font-secondary;
		text-transform: uppercase;
		text-decoration: none;
		padding: 1rem 2.5rem;
		border-radius: 4px;
		font-style: normal;
		user-select: none;
		font-size: 1.4rem;
		line-height: 1.2;
		font-weight: 700;
		min-width: 12rem;
		cursor: pointer;
		color: #FFF;
		width: auto;
	}

	button:hover,
	.button:hover,
	input:hover[type='button'],
	input:hover[type='reset'],
	input:hover[type='submit'],
	input[type='submit'][disabled],
	.button.disabled {
		border-color: map-get($colors, 1);
		background-color: transparent;
		color: map-get($colors, 1);
		text-decoration: none;
	}
}


input[type='submit'][disabled],
.button.disabled {
	cursor: default;
}

.button {
	display: inline-block;

	&.button-block {
		display: block;
		width: 100%;
	}

	&.button-large {
		padding: 1.5rem 4rem;
		font-size: 2.6rem;
	}

	&.button-small {
		&,
		&.button-invert:hover {
			padding: 1.5rem 2rem;
			font-size: 1.4rem;
		}
	}

	&.button-mini {
		padding: .5rem .8rem;
		font-size: 1.1rem;
	}
}

.loader {
	@extend .button;
	@extend .button.disabled;

	position: relative;
	height: 3.8rem;

	i {
		border: .2em solid rgba(map-get($colors, 1), .2);
		border-left-color: map-get($colors, 1);
		animation: loader .75s infinite linear;
		vertical-align: text-top;
		display: inline-block;
		border-radius: 50%;
		position: relative;
		margin-left: 1em;
		font-size: 1rem;
		height: 1.5rem;
		width: 1.5rem;
	}
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
