@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~/assets/css/a11y.pcss';
@import '~/assets/css/fonts.pcss';
@import '~/assets/css/backgrounds.pcss';
