/**
 * Mobile First Grid
 */


.container {
	@extend %clearfix;

	max-width: $container-width;
	padding: 0 2rem;
	margin: 0 auto;
	width: 100%;

	&.full {
		max-width: none;
	}

	&.narrow {
		max-width: $container-narrow;
	}
}

.flex-container {
	justify-content: space-between;
	flex-wrap: wrap;
	display: flex;

	&::before,
	&::after {
		content: none;
	}
}

.row {
	@extend %clearfix;

	margin-bottom: 2rem;
	margin-right: auto;
	margin-left: auto;
}

.col {
	margin-bottom: 2rem;
	min-height: 1px;
	float: left;
	width: 100%;

	&.dib {
		vertical-align: middle;
		display: inline-block;
		float: none;

		&.top {
			vertical-align: top;
		}
	}

	&[class*='push-'],
	&[class*='pull-'] {
		position: relative;
	}

	$i: 1;
	@while $i <= $num-cols {
		$percent: unquote((100 / ($num-cols / $i)) + '%');

		&.s#{$i},
		&.m#{$i},
		&.l#{$i} {
			margin-left: 0;
			right: auto;
			left: auto;
		}

		&.s#{$i} {
			width: $percent;
		}

		&.offset-s#{$i} {
			margin-left: $percent;
		}

		&.pull-s#{$i} {
			right: $percent;
		}

		&.push-s#{$i} {
			left: $percent;
		}

		$i: $i + 1;
	}

	@include breakpoint(grid) {
		@at-root {
			& {
				margin-bottom: 0;
			}
		}

		&.reverse {
			float: right;
		}

		$i: 1;
		@while $i <= $num-cols {
			$percent: unquote((100 / ($num-cols / $i)) + '%');

			&.m#{$i} {
				width: $percent;
			}

			&.offset-m#{$i} {
				margin-left: $percent;
			}

			&.pull-m#{$i} {
				right: $percent;
			}

			&.push-m#{$i} {
				left: $percent;
			}

			$i: $i + 1;
		}
	}

	@include breakpoint(large) {

		$i: 1;
		@while $i <= $num-cols {
			$percent: unquote((100 / ($num-cols / $i)) + '%');

			&.l#{$i} {
				width: $percent;
				left: auto;
			}

			&.offset-l#{$i} {
				margin-left: $percent;
			}

			&.pull-l#{$i} {
				right: $percent;
			}

			&.push-l#{$i} {
				left: $percent;
			}

			$i: $i + 1;
		}
	}
}
